#contenedor{
    
    display: flex;
    justify-content: center;
    padding: 10%;

}

#pequelogin{

    background-color: #ffffff;
    height: 400px;
    width: 400px;
    border: 5px black solid;
    border-radius: 2em;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}

#pequelogin a{

    width: 360px;
    height: 80px;
    margin: 5%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 28px;
    color: white;
    outline: 2px solid black;
    border-radius: 2em;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    background-color: #00aa8a;

}

#pequelogin a:hover{

    background-color: #aeaeae;
    box-shadow: 10px 10px 5px rgba(43, 43, 43, 0.5);
    
}



